@import "../../varaible.scss";
@import "../../mixins.scss";

.online-user-container {
  width: 96px;
  position: absolute;
  padding: 0 20px 25px;
  top: 100px;
  right: 30px;
  background-color: $primary-white;
  border-radius: 5px;

  .search-bar {
    position: relative;
    height: 94px;
    margin-bottom: 30px;
    border-bottom: 1px solid #6475891a;
    transition: all 2s;

    @include abs-flex;

    .cancel-icon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $body-color;
      border-radius: 5px;
    }

    .search-friends {
      position: absolute;
      width: 250px;
      right: 0;
      background-color: $body-color;
      height: 50px;
      border-radius: 5px;

      @include abs-flex;

      .form-control {
        background-color: inherit;
        border: none;
      }

      .form-control:focus {
        box-shadow: none;
        border: none;
      }

      .search-icon.cancel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
      }
    }
  }

  .online-users,
  .ofline-user-users {
    @include abs-flex;

    ul {
      list-style: none;
      flex-direction: column;
      padding-left: 0;

      @include abs-flex;

      .media {
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;

        .friends-image {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 55px;
          height: 55px;
          border-radius: 10px;
        }

        .online-color {
          width: 12px;
          height: 12px;
          border: 3px solid $primary-white;
          border-radius: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #2bc60c;
        }
      }
    }
  }

  .ofline-user-users {
    ul {
      li {
        position: relative;
      }

      .media {
        .online-color {
          background-color: #ff2f25;
        }
      }
    }
  }
}
