@import "../../varaible.scss";

.sidepanel {
  width: 80px;
  margin-bottom: 30px;
  background-color: $primary-blue;
  border-radius: 5px;
  padding: 36px 16px;
  position: sticky;
  top: 100px;

  ul {
    margin: 30px 0;
    padding-top: 30px;
    padding-left: 0;
    border-bottom: 1px solid #ffffff26;
    border-top: 1px solid #ffffff26;

    li {
      padding: 12px;
      background-color: #ffffff26;
      margin-bottom: 30px;
      border-radius: 10px;
    }
  }

  .main {
    a {
      padding: 0 12px;
    }
  }
}
