@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./varaible.scss";

body {
  background-color: $body-color !important;
}

.panel-body {
  position: relative;
  width: 100%;
}

.custom-body.panel-body {
  padding: 0 30px;
  padding-top: 100px;
}

ul {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0 !important;
}

h6 {
  font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320))) !important;
  margin: 0 !important;
}

h5 {
  font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320))) !important;
  margin: 0 !important;
}

h4 {
  font-size: calc(16px + (13 - 11) * ((100vw - 320px) / (1920 - 320))) !important;
}

h3 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))) !important;
  margin: 0;
  margin-right: 0;
}

span {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.form-control {
  font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320))) !important;
}
