@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.app {
  font-family: "Roboto";
  text-align: center;
}

ul {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0 !important;
}

h3 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  margin: 0;
  margin-right: 0;
}
